.navcontainer{
    display: flex;
    height: 8vh;
    background-color: rgb(219, 211, 211);
    box-shadow: 0 0 20px black;
    justify-content:space-between;
}
.logodiv{
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 3%;
   
}
.navlinkdiv{
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 10%;
    margin-right: 10%;
    align-items: center;
    left: 0px;
}
.navlink{
    text-decoration: none;
    font-weight:600;
    color: black;
    font-style:inherit;
    font-size: large;
}
.active{
    color: red;
}

